[submodule "sample-images"]
	path = sample-images
	url = git@github.com:yavuzceliker/sample-images.git
[submodule "model"]
	path = model
	url = https://huggingface.co/khasinski/clip-ViT-B-32-onnx
[submodule "multilingual_model"]
	path = multilingual_model
	url = https://huggingface.co/khasinski/XLM-Roberta-Large-Vit-B-32-onnx
